.move {
    font-size: 30px;
    float: right;
    color: rgb(114, 189, 255);
}

.head {
    font-size: 30px;
    padding: 20px;
    color: aliceblue;
}

.big {
    color: aliceblue;
    background-color: #504281;
    padding: 64px 24px 96px; 
    
}

.color {
    background-color: #0f0044;
}

p {
    font-size: 35px;
    font-style: italic;
    color: aliceblue;
}

a {
    color: rgb(67, 113, 153);
    margin-right: 15px;
    text-decoration: none;
}

h1 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.face {
    width: 50px;
    padding-top: 50px;
}

.linked {
    width: 50px;
}

.insta {
    width: 50px;
    
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#gym {
    width: 500px;
}

#tech {
    width: 450px;
}

#zoo {
    width: 500px;
}

h2 {
    color: aliceblue;
}
